
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .aboutImage {
    width: 35%;
  }
  

  
  .aboutItem p {
    font-size: 25px;
  }
  
  @media screen and (max-width: 830px) {
    
    .content {
      flex-direction: column;
    }
  
    .aboutImage {
      display: none;
    }
  
    .aboutItems {
      margin-top: 29px;
    }
  
    
  }