
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: rgb(105,104,119);
  background: linear-gradient(90deg, rgba(105,104,119,1) 2%, rgba(10,10,51,1) 69%);
  padding: 12px;
  
  color: white;
  font-family:'Roboto';
}